
@keyframes spin {
0% {
transform : rotate(0deg);
}
100% {
transform : rotate(360deg);
}
}
#nav_menu ul {
float : right;
list-style : none outside none;
margin : 0;
padding : 0;
position : relative;
}
#nav_menu ul a {
color : #ffffff;
display : block;
font-family : lato;
font-size : 14px;
font-weight : bold;
line-height : 32px;
padding : 25px 14px;
text-decoration : none;
/*text-transform : capitalize;*/
transition : all 0.4s 0s ease;
}
#nav_menu ul li {
float : left;
padding : 0;
position : relative;
}
#nav_menu ul li a:hover {
transition : all 0.4s 0s ease;
background : #0078BF;
}
#nav_menu ul ul {
background : none 0 0 repeat scroll #0078bf;
display : none;
left : 0;
padding : 0;
position : absolute;
top : 100%;
z-index : 9999;
padding : 10px;
}
#nav_menu ul ul li {
float : none;
width : 200px;
}
#nav_menu ul ul a {
line-height : 120%;
padding : 10px 29px;
}
#nav_menu ul ul li a:hover {
transition : all 0.4s 0s ease;
background : #333333;
}
#nav_menu ul ul ul {
top : 0;
left : 100%;
}
#nav_menu ul li:hover > ul {
display : block;
}
#nav_menu ul li a i {
margin-left : 6px;
}
#src_sec {
background-image : url("../img/slide_img.jpg");
background-position : center center;
background-size : cover;
min-height : 500px;
}
#sobremi_sec {
padding : 70;
background: #E6E6E6;
}


.nombre_cabecera img {
float : left;
margin-right : 30px;
margin-top : 19px;
width : 76px;
}
.nombre_cabecera a {
text-decoration: none;
color: #fafafa;
font-style: normal;
font-weight: bold;
font-size: x-large;
text-align: center;
margin-top: 10px;
}
.titulo_sec {
margin : 0 auto;
padding : 0 0 25px 0;
text-align : center;
color: black;
}
.titulo_sec h2 {
color : white;
font-size : 12px;
text-transform : uppercase;
letter-spacing : 1px;
}
#proyectos_sec .titulo_sec h1{
  color: black;
}
#proyectos_sec p{
  color: black;
}
.titulo_sec img{
  /* cambia estos dos valores para definir el tamaño de tu círculo */
  height: 150px;
    width: 150px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
		border: 5px solid #666;
}
.sobremi {
margin : 0 auto;
text-align : center;
}
.sobremi p{
  color: black;
}

#habilidades_sec {
padding-top : 30px;
background : none 0 0 repeat scroll #D8D8D8;
}
.skills-wrap .container {
padding : 70px 0;
}
.progress {
height : 35px;
line-height : 35px;
margin-bottom : 45px;
background : #6E6E6E;
border-radius : 0;
box-shadow : none;
list-style : none;
}
.progress-bar {
font-weight : 900;
font-size: 14px;
font-style: normal;
line-height : 35px;
padding-left : 20px;
text-align : left;
}
.progress-bar1 .progress-bar {
background : #0B3861;
}
#intereses_sec {
padding-top : 30px;
background: #2E2E2E;
}
#intereses_sec h1{
  color: white;
}
#intereses_sec img{
  width: 350px;
  height: 250px;
}
#intereses_sec a{
  color:white;
  text-transform: none;
}
#intereses_sec p{
  color:white;
  font-size: 15px;
}


#proyectos_sec ul.filter {
color : #2e2e2e;
}
#proyectos_sec ul.filter li {
color : #666676;
cursor : pointer;
display : inline-block;
font-family: 'Roboto', sans-serif;
font-size : 14px;
margin-right : 5px;
padding : 15px 35px;
position : relative;
}
#proyectos_sec ul.filter li:hover {
color : #36BFF3;
}
#proyectos_sec ul.filter li.active {
border-bottom : 1px solid #00AFF0;
}
#proyectos_sec .all-portfolios {
margin-top : 20px;
margin-left : -10px;
}
#proyectos_sec .all-portfolios img:hover {
filter:  opacity(.6);
}

#proyectos_sec .all-portfolios img{
width: 150px;
height: 150px;
}


#proyectos_sec .all-portfolios p {
text-align: left;
margin: auto;
}

#proyectos_sec .single-portfolio {
float : left;
margin-bottom : 10px;
width : 277px;
}
#proyectos_sec .single-portfolio:hover .img_hoverlay {
display : block;
}
#message {
height : 90px;
}





#conocimientos_sec {
padding : 70px 0;
background: #2E2E2E;
}


.conoc {

margin: 10px;
transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s;border :1px solid #C5CAE9;
cursor : pointer;
text-align : center;
padding : 61px 0;

}
.conoc > h2 {
color : white;
font-size : 14px;
font-weight : 400;
text-transform : uppercase;
}
.conoc i {
font-size : 50px;
color : white;
position : relative;
margin: 10px;
}

.conoc:hover i{
  color : #FFA000;
  font-size: 55px;
}

.conoc:hover h2{
  color: #FFA000;
  font-size: 16px;
}

#proyectos_sec {
background : none 0 0 repeat scroll #E6E6E6;
padding : 70px 0;
}
#tm_sec {
padding : 70px 0;
}


.interes_parte > img {
  width: 100%;
}
.interes_parte h2 {
color : white;
font-size : 14px;
text-transform : uppercase;
}
.interes_parte a {
border-bottom : 1px solid #333333;
color : #333333;
font-family : lato;
text-transform : capitalize;
}
.interes_parte a:hover {
border-bottom : 1px solid #00AFF0;
}

#ctn_sec {
padding : 70px 0;
background: #E6E6E6;
}
#cnt_form .btn {
background : #353638;
padding : 10px 35px;
}
#cnt_form .form-control:focus {
border : #0080FF solid 1px;
}
.cnt_info ul {
margin : 0;
padding : 0;
border-left : 1px solid black;
padding-left : 30px;
}
.cnt_info ul li {
list-style : none outside none;
padding : 15px 0;
}
.cnt_info ul li i {
color : black;
float : left;
margin-top : 5px;
}
.cnt_info p {
padding-left : 30px;
color: black;
}


.ft ul {
margin : 0;
padding : 0;
text-align : center;
}
.ft ul li {
list-style : none outside none;
padding-right : 10px;
display : inline;
}
.ft ul li a {
border :black solid 1px;
border-radius : 50px;
display : inline-block;
margin : 0 auto;
padding : 7px 11px;
text-align : center;
}
.ft ul li a i {
color : black;
font-size : 15px;
transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s
}
.ft ul li a i:hover {
color : #00AFF0;transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s
}
.ft ul li .fa-facebook {
padding : 3px;
}

#ft_sec {
padding : 70px 0;
background: #E6E6E6;
}
.copy_right {
margin : 0;
padding : 0;
}
.copy_right li {
font-size : 14px;
font-weight : 600;
list-style : none outside none;
padding : 2px;
text-align : center;
color : #818181;
text-transform : uppercase;
}
.copy_right {
margin : 0;
padding : 0;
margin-top : 18px;
}


.form-control.single_cnt {
width : 355px !important ;
}

.formaciones p{
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}

.formaciones ul{
  font-size: 16px;
}


#formacion_sec{
  background: #2E2E2E;
}

#formacion_sec h1{
  color: white;
}

#habilidades_sec{
  background-color: #E6E6E6 ;
}


#habilidades_sec p{
  color: black;
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


#habilidades_sec h2 {
  color: #0f283e;
  font-size: 4.4em;
  font-weight: 800;
  line-height: 0.9em;
  margin: 0 100px;
  text-align: right;
  text-transform: uppercase;
  font-size: 0.875em;
  line-height: 1.8em;
}
#habilidades_sec h3 {
  color: #577285;
  font-size: 0.875em;
  line-height: 1.8em;
}
#habilidades_sec h4 {
  font-size: 10px;
  line-height: 1.8em;
}

#habilidades_sec p{
  font-size: 0.875em;
  line-height: 1.8em;
  text-transform:none;


}
#habilidades_sec h3 strong {
  color: #0f283e;
}
#habilidades_sec h6 {
  font-size: 1em;
  font-weight: 300;
  margin: 30px 100px;
  text-align: right;
}

#habilidades_sec .features-item {
  margin: 0px 20px 20px 20px;
}
#habilidades_sec .features-item h4 {
  font-size: 15px;
  color: black;
}
#habilidades_sec .features-item .icon {
  background-color: #9E9E9E;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #212121;
  cursor: context-menu;
  display: block;
  font-size: 1.3em;
  height: 60px;
  line-height: 60px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 60px;
}
#habilidades_sec .features-item .icon:hover {
  background-color: #757575;
  color: #FFEB3B;
}
