body {
}

.navbar-work {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.navbar-main {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.left-text {
  cursor: default;
  margin-left: 98px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 40px;
}

.name-pos {
  margin-top: -50px;
  margin-left: 10px;
}

.prof {
  margin-left: -21px;
  margin-top: -44px;
}

.navbar-main a,
.navbar-work a{
  margin-right: 30px;
  text-decoration: none;
  color: #000;
}

.left {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}

.text {
  transition: background-size .4s ease;
  background: linear-gradient(to bottom, transparent 62%, #fff87e 0) center center/0% 75% no-repeat;
  font-size: 1.5rem;
  padding: 0 6px 2px 6px;
  cursor: pointer;
  color: rgba(80, 89, 113, 0.7);
  letter-spacing: .08rem;
}

.text:hover {
  background-size: 100% 100%;
}

.col .left-text.b .info {
  font-size: 13px;
  font-weight: 400;
}
.col .left-text.b .info a{
  text-decoration: none;
  color: #000;
}

.col .left-text.b .info a:hover{
  color: #fff;
}

.col .left-text.b {
  background-color: rgb(72,32,49);
  transition: all .2s ease-in-out;
  font-size: 1.5rem;
  padding: 12px;
  height: 300px;
  width: 200px;
}

.col .left-text.b:hover {
  transform: scale(1.1);
  background-size: 200px;
  background-image: url("../assets/img/design-web.jpg");
}

.col .left-text.b .text {
  color: #000;
}

.text:active {
  background-size: 80% 100%;
}

.col {
  display: inline-flex;
}

.name {
  margin-bottom: 28px;
  cursor: default;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 50px;
  color: #E3E3B5;
}

.name img {
  margin-left: 20px;
}

.container-social {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.container-social a {
  margin-right: 20px;
  cursor: pointer;
}

.fab,
.fas {
  color: #7D7566;
  transition: transform .3s ease-out;
}

i:hover {
   transform: translate(0, -5px);
}

i.fa-github:hover {
  color: black;
}

i.fa-linkedin-in:hover {
  color: #0077B5;
}

i.fa-soundcloud:hover {
  color: #ff8800;
}

i.fa-flickr:hover {
  color: #ff0084;
}

i.fa-stack-overflow:hover {
  color: #f48024;
}

i.fa-envelope:hover {
  color: #ea4335;
}

.container-work {
  padding-top: 48px;
}
