.tabla
{
	width: 100%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
	
}

.tablax4
{
	float: left; /*Colocar las cajas a la derecha de las otras, o bien, mantener a la izquierda*/
	width: 25%;
	margin-top: 20px;
	padding-bottom: 50px;
}

.caja-herramienta
{
	border: 1px solid #5c6552;
	background: #30353c;
}

.icono-herramienta
{
	color: #85c34a;
	padding-top: 20px;
	font-size: 3em; /*em: 3 con respecto a la m;*/ /*responsive*/
	padding-bottom: 10px;
}

.caja-herramienta h4
{
	color: #fff;


}

.lista-caracteristicas
{
	list-style: none;
	padding: 20px 0;
	color: #81867D;
	padding-bottom: 50px;
	font-family: 'Open Sans', sans-serif;
}