body {
  background-color: #fff;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans" sans-serif;
  padding: 8vh 1rem;
}

.navbar-main {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;

  a {
    margin-right: 30px;
    text-decoration: none;
    color: #000;
  }
}

.left-text {
  cursor: default;
  margin-left: 98px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.name-pos {
  margin-top: -50px;
  margin-left: 10px;
}

.prof {
  margin-left: -21px;
  margin-top: -44px;
}

.text {
  transition: background-size .4s ease;
  background: linear-gradient(to bottom, transparent 62%, #fff87e 0) center center/0% 75% no-repeat;
  font-size: 1.5rem;
  padding: 0 6px 2px 6px;
  cursor: pointer;
  color: rgba(80, 89, 113, 0.7);
  letter-spacing: .08rem;
}

.text:hover {
  background-size: 100% 100%;
}

.skills {
  display: flex;

  .title {
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 34px;
  }

  .sub {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 30px;
  }

  p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
  }

  .col {
    min-width: 215px;
    margin-right: 60px;
    border-radius: 1px;
    padding: 23px;
  }

  .one {
    background-color: rgba(213, 165, 68, .5);
  }

  .two {
    background-color: rgba(213, 165, 68, .5);
  }

  .three {
    background-color: rgba(213, 165, 68, .5);
  }
}
