---
title: Laura Jaime
---

.navbar-main
  a.text href="#" work
  = link_to 'skills', '/skills.html', class: 'text'
  a.text href="mailto:laurajaimev8@gmail.com" contact

.left-text
  p Hi!
  p.name-pos I'm Laura Jaime
  p.prof Front-end developer and technology lover.
