---
title: Laura Jaime - skills
---


.navbar-main
  = link_to 'return', '/index.html', class: 'text'
.skills
  .col.one
    .title Languages
    .sub Front-end
    p Javascript
    p CSS3
    p HTML5
    p Slim
    p Sass
    .sub Some back-end
    p Python
    p Java
    p Ruby
  .col.two
    .title Frameworks
    p Rails
    p Middleman
    p React (something)
    p Bootstrap 4
    p jQuery
  .col.three
    .title Tools
    p Git
    p Balsamiq Mockups
    p Atom (my fav editor)
